# Frontend
VITE_API_URL=http://localhost:3001

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Backend
PORT=3001
NODE_ENV=development

# Auth
JWT_SECRET=
COOKIE_SECRET=

# Security
CLIENT_URL=http://localhost:3000

# Analytics
GA_MEASUREMENT_ID=
META_PIXEL_ID=
TIKTOK_PIXEL_ID=